
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Home del dasboard-->
<div ng-show="showDashHome">
    <h3>Panel de control  @HttpContext.Current.Session["name"]</h3>
    <div class="panel panel-default">
        <div class="panel-body">
                <button type="submit" ng-click="showSection('Monitor');"  class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <br /> Monitoreo
                </button>
                <button type="submit" ng-click="showSection('CCManual');" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <br /> Control manual
                </button>
                <button type="submit" ng-click="showSection('Banner');" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <br />  Contenidos
                </button>
                <button type="submit" ng-click="showSection('User');" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <br />  Usuarios
                </button>
                <button type="submit" ng-click="showPreview();"  class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <br /> Preview
                </button>
        </div>
    </div>
</div>
<!-- Termina el div del home del dashboard-->

<!-- Inicia seccion de monitoreo-->
<div ng-show="showDashMonitor">
    <h3>Monitoreo</h3>
    <div class="panel panel-default">
    </div>
</div>
<!-- Termina seccion de monitoreo -->

<!-- Inicia seccion de control manual -->
<div ng-show="showDashCCManual">
    <h3>Control manual</h3>
    <div class="panel panel-default">
    </div>
</div>
<!-- Termina seccion de control manual-->

<!-- Inicia Seccion del registro y edicion de usuarios-->
<div ng-show="showDashUser">
    <h1 class="page-header">Usuarios</h1>
    <div class="panel panel-default"> <!-- Encabezado de la seccion de usuario-->
        <div class="panel-body">
            <form name="" class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="search_email_user">Buscar por email</label>
                    <input type="text" id="search_email_user" class="form-control" required="" placeholder="Busca por email">
                </div>
                <button type="submit" ng-click="showSection('searchUser');" class="btn btn-success">Buscar</button>
                <button type="button" ng-click="showSection('newUser');" class="btn btn-primary">Nuevo</button>
            </form>
            <div id="notificationsUser">
                <div ng-show="isCreateUser">
                    {{userResponseData}}
                </div>
            </div>
        </div>
    </div>
              
    <div ng-show="showDashNewUser"> <!-- Crear usuario -->
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="nuevoUsuario" ng-submit="createUser(); showSection('searchUser');" class="form-horizontal">
                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="name" class="form-control" placeholder="Nombre" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" ng-model="email" class="form-control" placeholder="Email" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" ng-model="pass" class="form-control" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Tipo de usuario</label>
                        <div class="col-sm-10">
                            <select ng-model="typeUser" class="form-control" required>
                                <option value="">Selecciona un tipo de usuario</option>
                                <option value="admin">Administrador</option>
                                <option value="operator">Operador</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-success" value="Registrar" />
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- fin div panel body-->
    </div> <!-- fin div panel-->
    
 
    <div ng-show="showDashUpdUser"> <!-- Editar Usuario -->
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="nuevoUsuario" ng-submit="modifyUser('1');" class="form-horizontal">
                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="name" class="form-control" value="David Paz" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" ng-model="email" class="form-control" value="david.paz@test.com" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" ng-model="pass" class="form-control" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label for="exampleInputEmail1" class="col-sm-2 control-label">Tipo de usuario</label>
                        <div class="col-sm-10">
                            <select ng-model="typeUser" class="form-control" required>
                                <option value="">Selecciona un tipo de usuario</option>
                                <option value="admin">Administrador</option>
                                <option value="operator">Operador</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-default" value="Editar" />
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- fin div panel body-->
    </div> <!-- fin div panel-->

    <div ng-show="showDashSearchUser">
        <!-- Listado de usuarios -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="" value="1" /> 1
                                </td>
                                <td>
                                    <a href="#" ng-click="updUser('1','David Paz','david@test.com.mx','123qwe','admin','active','1'); showSection('updUser');">david@test.com</a>
                                </td>
                                <td>David Paz</td>
                                <td>
                                    Admin
                                </td>
                                <td>
                                    <a href="">Activar</a><br />
                                    <a href="">Desactivar</a><br />
                                    <a href="">Convertir en Operador</a><br />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="checkbox" name="" value="1" /> 1
                                </td>
                                <td>
                                    david@test.com
                                </td>
                                <td>David Paz</td>
                                <td>
                                    Admin
                                </td>
                                <td>
                                    <a href="">Activar</a><br />
                                    <a href="">Desactivar</a><br />
                                    <a href="">Convertir en Operador</a><br />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input type="checkbox" name="" value="1" /> 1
                                </td>
                                <td>
                                    david@test.com
                                </td>
                                <td>David Paz</td>
                                <td>
                                    Admin
                                </td>
                                <td>
                                    <a href="">Activar</a><br />
                                    <a href="">Desactivar</a><br />
                                    <a href="">Convertir en Operador</a><br />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Termina Seccionregistro y edicion de usuarios-->

<!-- *************************************************   BANNERS SECTION ***********************************************************-->

<div ng-show="showDashBanner">
    <!-- Seccion de Banner -->
    <h2 class="page-header">Contenidos</h2>
    <!-- Inicia Sección de busqueda de banners-->
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="searchBanner">
                    <div class="form-inline">

                        <div class="form-group">
                            <label class="sr-only" for="banner_id">Id</label>
                            <input type="text" ng-model="searchBannerId" id="banner_id" class="form-control"  placeholder="Buscar por id" />
                        </div>

                        <div class="form-group">
                            <select class="form-control" ng-model="searchBannerStatus">
                                <option value="">Por status</option>
                                <option value="active">Activo</option>
                                <option value="deactive">Inactivo</option>
                                <option value="pending">Pendiente</option>
                                <option value="cancel">Cancelado</option>
                                <option value="close">Cerrado</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" ng-model="searchBannerSectionId">
                                <option value="">Por sección</option>
                                <option value="A-Slider">A-Slider</option>
                                <option value="B-Banner">B-Banner</option>
                                <option value="C-Noticias-A">C-Noticias-A</option>
                                <option value="C-Noticias-B">C-Noticias-B</option>
                                <option value="C-Noticias-C">C-Noticias-C</option>
                                <option value="D-Takeover">D-Takeover</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" ng-model="searchBannerMode">
                                <option value="">Por modalidad</option>
                                <option value="">Enalce</option>
                                <option value="">Modal</option>
                                <option value="">Otro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" ng-click="showSection('searchBanner'); srchBnnr();" >Buscar</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="showSection('selectSectionBanner');" >Nuevo</button>
                        </div>
                    
                    </div>    
                </form>
            </div>
        </div>
    </div>

    <!-- Elige la seccion de contenido que quieres crear-->
    <div ng-show="showDashSelectSection">
        <h3>Elige la seccion donde quieres cargar un nuevo contenido</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="mainSelectSection">
                    <div class="takeoverSection" ng-click="selectSection('D-Takeover'); showSection('newBanner');">D-Takeover</div>
                    <div class="sliderSection" ng-click="selectSection('A-Slider'); showSection('newBanner');">A-Slider</div>
                    <div class="noticiasSection">
                        <div ng-click="selectSection('C-Noticias-A'); showSection('newBanner');">C-Noticas-A</div>
                        <div ng-click="selectSection('C-Noticias-B'); showSection('newBanner');">C-Noticias-B</div>
                        <div ng-click="selectSection('C-Noticias-C'); showSection('newBanner');">C-Noticias-C</div>
                    </div>
                    <div class="bannerSection" ng-click="selectSection('B-Banner'); showSection('newBanner');">B-Banner</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin seccion crear contenido-->

    <div ng-show="showDashSearchBanner">
        <div class="panel panel-default">
            <div class="panel-body">
                <!--Inicia div de resultados de banner-->
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    --{{bannersResul}}
                </nav>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#(Imagen)</th>
                                <th>Datos</th>
                                <th>Status</th>
                                <th>Fechas</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="bnner in bannersResult">
                                <td>
                                    <input type="checkbox" name="" value="{{bnner.id}}" /> {{bnner.id}}<br />
                                    <a href="#" ng-click="showSection('updBanner');" >
                                        <img src="{{bnner.imgMainUrl}}" height="60px" width="80px" />
                                    </a>
                                </td>
                                <td>
                                    {{bnner.seccionId}} <br />
                                    {{bnner.mode}}
                                </td>
                                <td>{{bnner.status}}</td>
                                <td>
                                    ini:{{bnner.startDateActivation  | date: "dd-MM-yyyy"}}<br />
                                    fin:{{bnner.endDateActivation | date: "dd-MM-yyyy"}}<br />
                                    modificado:{{bnner.updateDate | date: "dd-MM-yyyy"}}<br />
                                    carga:{{bnner.registrationDate | date: "dd-MM-yyyy"}}
                                </td>
                                <td>
                                    <a href="">Activar</a><br />
                                    <a href="">Poner pendiente</a><br />
                                    <a href="">Cancelar</a><br />
                                    <a href="#" ng-click="showSection('detailBanner'); srchBnnrId(bnner.id);">Ver</a><br />
                                    
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Seccion para crear una campaña de banner-->
    <form name="newBanner" class="form-horizontal" ng-show="showDashNewBanner" ng-submit="createBanner();">
        <h4>Nuevo contenido para la sección <b>{{bnnrSection}}</b></h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="bnnrName" class="form-control" required="" />
                    </div>
                </div>

                <div class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Modalidad</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="bnnrMode" required>
                            <option value="">Selecciona la modalidad</option>
                            <option value="Enalce">Enalce</option>
                            <option value="Modal">Modal</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="form-group input-group-lg">
                    
                    <div class="array_pictures">
                        <div class="fileUpload btn_foto">
                            <label>Principal</label>
                            <input id="picture_0" class="upload" type="file" ng-file-select="onFileSelect($files,0)" multiple accept="image/*" data-multiple="true">
                            <img ng-show="urlPic[0] != null" ng-src="{{urlPic[0]}}" class="img-rounded">
                        </div>

                        <div ng-show="bnnrSection == 'A-Slider'" class="fileUpload btn_foto">
                            <label>Boton</label>
                            <input id="picture_0" class="upload" type="file" ng-file-select="onFileSelect($files,1)" multiple accept="image/*" data-multiple="true">
                            <img ng-show="urlPic[1] != null" ng-src="{{urlPic[1]}}" class="img-rounded">
                        </div>

                        <div ng-show="(bnnrSection != 'D-Takeover') && (bnnrSection != 'C-Noticias-A')" class="fileUpload btn_foto">
                            <label>Modal</label>
                            <input id="picture_0" class="upload" type="file" ng-file-select="onFileSelect($files,2)" multiple accept="image/*" data-multiple="true">
                            <img ng-show="urlPic[2] != null" ng-src="{{urlPic[2]}}" class="img-rounded">
                        </div>

                    </div>
                </div>

                <div ng-show="(bnnrSection == 'C-Noticias-A') || (bnnrSection == 'B-Banner')" class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Link</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="bnnrLink" class="form-control"  />
                    </div>
                </div>

                <div ng-show="bnnrSection == 'A-Slider'" class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Background Color</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="bnnrBackgroudColor" class="form-control"  />
                    </div>
                </div>

                <div ng-show="(bnnrSection == 'C-Noticias-A') || (bnnrSection == 'C-Noticias-B')" class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Texto</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="bnnrText" class="form-control" />
                    </div>
                </div>

                <div class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Fecha Inicial</label>
                    <div class="col-sm-10">
                        <input type='date' ng-model="bnnrDateIni" class="form-control" />
                    </div>
                </div>

                <div class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Fecha Final</label>
                    <div class="col-sm-10">
                        <input type='date' ng-model="bnnrDateEnd" class="form-control" />
                    </div>
                </div>

                <div class="form-group input-group-lg">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="bnnrStatus" required>
                            <option value="">Selecciona el status</option>
                            <option value="Active">Activo</option>
                            <option value="Deactive">Inactivo</option>
                            <option value="Pending">Pendiente</option>
                            <option value="Canceled">Cancelado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group input-group-lg">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-success btn-lg" value="Cargar" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- notificaciones de creacion de banners -->
    <div id="notificationsBanner">
        <div ng-show="isCreateBanner">
            <div class="alert alert-success" role="alert">Ok!! creado correctamente</div>
            <input type="submit" ng-click="showSection('detailBanner'); srchBnnrId(bannnerResponseData.id);" class="btn btn-success btn-lg" value="Ver banner creado" />
        </div>
        <div ng-show="badCreateBanner">
            <div class="alert alert-danger" role="alert">Ups!! algo salio mal..</div>
        </div>
    </div>
    <!-- termina notificaciones de creacion de banner-->

    <!-- Detalle de banner-->
    <div ng-show="showDashBannerDetail">
        <h3>Detalle de banner:</h3>
        <div class="panel panel-default"  ng-repeat="bannerDetail in bannersResult">
            <div class="panel-body">
                <div class="detailBannerMain">
                    <div class="detailBannerTitle"><h3>#{{bannerDetail.id}} {{bannerDetail.seccionId}} {{bannerDetail.name}}</h3></div>
                    <div class="detailBannerContent">
                        <div class="detailBannerCol">
                                <img class="detailBannerImage" src="{{bannerDetail.imgMainUrl}}" />
                        </div>
                        <div class="detailBannerCol">
                            <div>Inicia:<span>{{bannerDetail.startDateActivation | date: "dd-MM-yyyy"}}</span></div>
                            <div>Termina:<span>{{bannerDetail.endDateActivation | date: "dd-MM-yyyy"}}</span></div>
                            <div>Texto:<span>{{bannerDetail.texto}}</span></div>
                            <div>link:<span><a href="{{bannerDetail.link}}">{{bannerDetail.link}}</a></span></div>
                            <div>Fondo:<span style="width:10px; height:5px; background-color:{{bannerDetail.backgroundColor}}; color:{{bannerDetail.backgroundColor}};">xxx</span></div>
                            <div>Status:<span>{{bannerDetail.status}}</span></div>
                            <div>Creado:<span>{{bannerDetail.registrationDate}}</span></div>
                            <div>Modificado:<span>{{bannerDetail.updateDate}}</span></div>
                            <div>Cargó:<span>{{bannerDetail.registrationUserId}}</span></div>
                            <div>Modificó:<span>{{bannerDetail.updateUserId}}</span></div>

                            <div class="detailBannerActions">
                                <input type="submit" class="detailBannerCol btn btn-default" value="Modificar" />
                                <input type="submit" class="detailBannerCol btn btn-success" value="Activar" />
                                <input type="submit" class="detailBannerCol btn btn-danger" value="Cancelar" />
                                <input type="submit" class="detailBannerCol btn btn-danger" value="Cerrar" />
                                <input type="submit" class="detailBannerCol btn btn-warning" value="Pendiente" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Termina detalle de banner-->
        
        
    <!-- edicion de banner-->
    <form name="newBanner" class="form-horizontal" ng-show="showDashUpdBanner" ng-submit="updateBanner('321');">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Nombre:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="bnnrName"  class="form-control" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Modalidad</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="bnnrMode"  required>
                                <option value="">Selecciona la modalidad</option>
                                <option value="Enalce">Enalce</option>
                                <option value="Modal">Modal</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Imagen principal</label>
                        <div class="col-sm-10">
                            <input id="picture_0" class="upload" type="file" ng-file-select="onFileSelect($files,0)" multiple accept="image/*" data-multiple="true">
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Imagen de boton</label>
                        <div class="col-sm-10">
                            <input id="picture_0" class="upload" type="file" ng-file-select="onFileSelect($files,1)" multiple accept="image/*" data-multiple="true">
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Imagen de modal</label>
                        <div class="col-sm-10">
                            <input id="picture_0" class="upload" type="file" ng-file-select="onFileSelect($files,2)" multiple accept="image/*" data-multiple="true">
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Link</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="bnnrLink" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Background Color</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="bnnrBackgroudColor" class="form-control" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Texto</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="bnnrText" class="form-control" required="" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Fecha Inicial</label>
                        <div class="col-sm-10">
                            <input type='date' ng-model="bnnrDateIni" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Fecha Final</label>
                        <div class="col-sm-10">
                            <input type='date' ng-model="bnnrDateEnd" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            <select class="form-control"  ng-model="bnnrStatus" required>
                                <option value="">Selecciona el status</option>
                                <option value="Active">Activo</option>
                                <option value="Deactive">Inactivo</option>
                                <option value="Pending">Pendiente</option>
                                <option value="Canceled">Cancelado</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group input-group-lg">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-success btn-lg" value="Editar" />
                        </div>
                    </div>

                    <div id="notificationsBanner">
                        hola afuera
                        <div ng-show="isCreateBanner">
                            hola
                            {{bannnerResponseData}}
                        </div>
                    </div>

                </div>
            </div>
        </form>
    


    <!-- Termina seccion de busqueda de banners-->
    <!-- Inicia seccion de preview -->
    <div ng-show="showDashPreviewBanner">
        <h2 class="sub-header">Preview</h2>
        <!--
        <iframe src="http://dev.sportcity.com.mx:85/index.asp" height="2000" width="100%" frameborder="0" scrolling="no"></iframe>
            -->
            
    </div>
    <!-- Termina seccion de preview -->

</div>