body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo{
    margin-left:100px;
    margin-top: -12px;
}
.array_pictures{

   margin-left:100px;

}

.array_pictures input div{

    display: inline-block;

}
.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color:#CCC;
    background-image:-webkit-linear-gradient(top, #CCC, #CCC);
    border:1px solid #F1F1F1;
    width: 130px;
    height: 100px;

}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;

}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 130px;
    height: 100px;
    border:1px solid #EEE;
    color:#FFF;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
}



.btn_foto
{
    background-color:#EEE;
   /* background-image:url('../Images/pic_upload.png');*/
    border:1px solid #EEE;
    color:#000;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    height:24px;
    line-height:27px;
    margin-right:15px;
    margin-top:15px;
    margin-left:20px;
    min-width:54px;
    outline:0;
    padding:0px;
    text-align:center;
    /*white-space:nowrap;*/
    display:inline-block;
    position:relative;
    width: 150px;
    height: 150px;
}

.fileUpload .thumb{

    height: 150px;
    width: 150px;
    min-width:54px;

}

.fileUpload .thumb_loading{

    height: 150px;
    width: 150px;
    min-width:54px;
    background-image:url('../Images/loading_picture.gif');

}




input[type='file'] {
    color: transparent;
}


/******************** INI-Estilos para la seleccion de seccion *************************************************/
.mainSelectSection{
    width:100%;
    border:0px solid red;
    background-color:azure;
    padding:10px;
}

.mainSelectSection .takeoverSection{
    margin-right:30px;
    width:200px;
    height:30px;
    background-color:#F1F1F1;
    border:1px solid #808080;
    cursor: pointer;
    margin-top:3px;
    position:relative;
    text-align: center;
}
.takeoverSection:hover{
    background-color:#808080;
    color:#FFF;
    font-weight:bold;
}

.mainSelectSection .sliderSection{
    margin-top:10px;
    width:100%;
    height:60px;
    background-color:#F1F1F1;
    border:1px solid #808080;
    cursor: pointer;
    text-align: center;
}

.sliderSection:hover{
    background-color:#808080;
    color:#FFF;
    font-weight:bold;
}

.mainSelectSection .noticiasSection div{
    width:30%;
    height:100px;
    background-color:#F1F1F1;
    border:1px solid #808080;
    cursor: pointer;
    margin-top:10px;
    margin-left:20px;
    text-align: center;
    display:inline-block;
}
.noticiasSection div:hover{
    background-color:#808080;
    color:#FFF;
    font-weight:bold;
}

.mainSelectSection .bannerSection{
    margin-top:10px;
    width:100%;
    height:100px;
    background-color:#F1F1F1;
    border:1px solid #808080;
    cursor: pointer;
    text-align: center;
}

.bannerSection:hover{
    background-color:#808080;
    color:#FFF;
    font-weight:bold;
}


/******************** FIN-Estilos para la seleccion de seccion *************************************************/
/******************** FIN-Estilos para el detalle del banner *************************************************/

.detailBannerContent .detailBannerCol{
    display:inline-block;
}
.detailBannerCol{
    vertical-align:top;
    padding:10px;
    margin-left:15px;
}
.detailBannerCol span{
    font-weight:bold;
    color:#000;
}
.detailBannerImage{
    width:400px;
    height:400px;
    margin:5px;
    background-color:#808080;
}
.detailBannerMain{
    margin:2px;
}
.detailBannerActions{
    margin-top:20px;
}
.detailBannerTitle{
    margin-left:70px;
}

/******************** FIN-Estilos para la detalle del banner *************************************************/