@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Preview-HOME</title>
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/generales.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/header.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/fuentes.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/menu2.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/noticias.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/sliderV2.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/skdslider.css">
    <link rel="stylesheet" type="text/css" href="https://www.sportcity.com.mx/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,300,600,400' rel='stylesheet' type='text/css'>

    <!--script-->
    <script defer src="https://www.sportcity.com.mx/scripts/slider.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/pluginSlider.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/jquery-2.1.1.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/scripts.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/jquery.bxslider.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/classie.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/skdslider.js"></script>

    <script src="https://www.sportcity.com.mx/scripts/jquery.cookie.js"></script>
    <script src="https://www.sportcity.com.mx/scripts/jquery.popupoverlay.js"></script>

</head>
<body>
    <!-- estos son los modals-->

    <div id="modalPromo8" class="modalmask">
        <div class="modalbox14 movedown">
            <a href="#close" title="Close" class="close">x</a>
            <div id="container-modal">
                <div class="contenido-modal">
                    <img src="https://www.sportcity.com.mx/images/modal_slider_diciembre_2015.jpg">
                </div>
            </div>
        </div>
    </div>


    <!-- fin de los modals-->
    <!-- slider -->
    <ul class="bxslider1">
        <li>
            <div class="content_promo2" style="background:#7eb3db">
                <div class="content_promoCentro2">
                    <div class="anuncio" style="background:#7eb3db">
                        <div id="imagenAnuncio">
                            <img src="https://www.sportcity.com.mx/images/banner_slider_diciembre_2015.jpg" height="250" width="1920">
                        </div>
                        <div id="botonAnuncio">
                            <a href="#modalPromo8"><img src="https://www.sportcity.com.mx/images/button_slider_diciembre_2015.png" width="70%" height="70%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <!-- Termina slider-->

    <!-- Noticias -->
    <div class="content_noticias">
        <div class="content_noticiasCentro">
            <div class="view view-first">
                <ul class="bxslider1">
                    <li>
                        <div class="textosNoticias">¡INSCRÍBETE EN LA 9ª CARRERA!<br> 5 Y 10 K</div>
                        <img src="https://www.sportcity.com.mx/images/noticias/promo17.jpg" />
                        <div class="mask">
                            <a href="https://www.sportcity.com.mx/carreras/index.html" target="_blank" class="info">Ver más</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="view view-first">
                <div class="textosNoticias">¡PEDALEA HACIA LA VICTORIA!<br>PARTICIPA EN CYCLE CHALLENGE II</div>
                <img src="https://www.sportcity.com.mx/images/noticias/Banner3-Web-SCTourCycle2_2015.jpg" />
                <div class="mask">
                    <a href="#modalPromo6" class="info">Ver más</a>
                </div>
            </div>

            <div class="view view-first">
                <div id="imgMitad1">
                    <img src="https://www.sportcity.com.mx/images/promo3.png">
                    <div class="mask">
                        <a href="#modalPromo3" class="info">Ver más</a>
                    </div>
                </div>
                <a href="http://blogsportcity.com.mx/" target="_blank">
                    <div id="imgMitad2">
                        <img src="https://www.sportcity.com.mx/images/noticias/blog.png">
                    </div>
                </a>
            </div>

        </div>  
    </div>
                    <!-- Termina Noticias-->

    <!--Inicia Banners-->
    <div class="skdslider">
        <ul id="demo1" class="slides">
            <li>
                <div class="bannerEstatico">
                    <div class="bannerEstaticoCentro">
                        <img src="https://www.sportcity.com.mx/images/club/cortesia_texto.png" alt="" /></a>
                    </div>
                </div>
            </li>
            <!--<li><div class="bannerEstatico2">
                    <div class="bannerEstaticoCentro">
                        <img src="images/slider300px/JD5.png" alt=""/></a>
                    </div>
                </div>
            </li>-->

            <li>
                <div class="bannerEstatico3">
                    <div class="bannerEstaticoCentro">
                        <img src="https://www.sportcity.com.mx/images/slider300px/deporteismo_texto.png" alt="" /></a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!--Termina banners-->

</body>
</html>
